<!DOCTYPE html>
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download mp3</title>
</head>
<body>
	<!--navbar-->
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="{% static 'music-player.png' %}">
                </a>
            </div>
        </div>
	</nav>
	<!-- end navbar-->

	<!-- jumbotron -->
	<div class="container">
		<div class="jumbotron">
			<form action="/" method="post" id="input-form">
				{% csrf_token %}
			  <div class="form-group">
				  {{ form.as_p }}
			    <small id="Terms" class="form-text text-muted">Please read the terms and conditions!.</small>
			  </div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	<!-- end jumbotron -->

	<div class="container" align="center">
		<img src="{% static 'ajax-loader.gif' %}" id="spinning-wheel" style="display: none">
		<table class='table table-striped'  id="song-list" align="center">
			<tbody></tbody>
		</table>
	</div>
<script>
	$('#input-form').on('submit', function (event) {
		event.preventDefault();
		console.log('form submitted');
		$('#spinning-wheel').show();
		create_post();
    });

	function create_post() {
		console.log('create post is working');

		$.ajax({
			url: '/',
			type: 'POST',
			data: { youtube_url: $('#InputUrl').val()},
			success: function (json) {
				$('#spinning-wheel').hide();
			    if (json.invalid_url) {
			        alert(json.invalid_url)
			    }
			    else {
					$('#InputUrl').val('');
					console.log(json);
					$('#song-list').prepend('<tr><td><a target="_blank" href='+ '/'+ json.id +'>' + json.title + '</td></tr>')
			    }
            }
		})
    }

    $(function() {


    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});
</script>
</body>

</html>
